@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1548056713356'); /* IE9 */
  src: url('./iconfont.eot?t=1548056713356#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1548056713356') format('woff'),
  url('./iconfont.ttf?t=1548056713356') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1548056713356#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-jian:before {
  content: "\e600";
}

.icon-jia:before {
  content: "\e601";
}

.icon-play-:before {
  content: "\e65f";
}

.icon-play-prev-:before {
  content: "\e661";
}

.icon-pause-:before {
  content: "\e65d";
}

.icon-play-next-:before {
  content: "\e662";
}

